<form action="/todo/search/query" autocomplete="off" method="POST">
	<p class="h6" style="text-align: center;">{{viewTitle}}</p>

	<div class="form-group">
		<label for="query" class="h6">Search</label>
		<input type="text" class="form-control" id="query" name="query">
	</div>
	<button type="submit" class="btn btn-primary" style="display:block;margin:0 auto">Submit</button>
</form>